@using Microsoft.AspNetCore.Html;

@model List<HtmlString>

@{
    ViewData["Title"] = "Waffler";

}
<div class="container bg-primary">
    <h1 class="bg-primary" id="waffleHeading">Generate Waffles</h1>
</div><br />

<div class="btn-toolbar">
    <a class="btn btn-success" asp-controller="Lab4" asp-action="Waffler" asp-route-id="1">1</a>
    <a class="btn btn-success" asp-controller="Lab4" asp-action="Waffler" asp-route-id="2">2</a>
    <a class="btn btn-success" asp-controller="Lab4" asp-action="Waffler" asp-route-id="3">3</a>
    <a class="btn btn-success" asp-controller="Lab4" asp-action="Waffler" asp-route-id="4">4</a>
    <a class="btn btn-success" asp-controller="Lab4" asp-action="Waffler" asp-route-id="5">5</a>
</div><br />

<div class="container">
    @if (@Model.Count != 0)
    {
        @foreach (HtmlString text in @Model)
        {
            <div class="row table-bordered b bg-info">
                <div class="col">@text</div>
            </div><br />
        }
    }
</div>